<div class="search-panel">

  <div class="sort-btns">
    <div>
      <button class="btn" (click)="onSortChange('author')">
        Sort by Author
        <p *ngIf="currentSortingStates.author === 'desc'">
          <fa-icon class="icon" [icon]="arrowUpIconAZ"></fa-icon>
        </p>
        <p *ngIf="currentSortingStates.author === 'asc'">
          <fa-icon class="icon" [icon]="arrowDownIconAZ"></fa-icon>
        </p>
      </button>
    </div>

    <div>
      <button class="btn"  (click)="onSortChange('title')">
        Sort by Title
        <p *ngIf="currentSortingStates.title === 'desc'">
          <fa-icon class="icon" [icon]="arrowUpIconAZ"></fa-icon>
        </p>
        <p *ngIf="currentSortingStates.title === 'asc'">
          <fa-icon class="icon" [icon]="arrowDownIconAZ"></fa-icon>
        </p>
      </button>
    </div>

    <div>
      <button class="btn"  (click)="onSortChange('createdAt')">
        Sort by Creation
        <p *ngIf="currentSortingStates.createdAt === 'desc'">
          <fa-icon class="icon" [icon]="arrowUpIcon19"></fa-icon>
        </p>
        <p *ngIf="currentSortingStates.createdAt === 'asc'">
          <fa-icon class="icon" [icon]="arrowDownIcon19"></fa-icon>
        </p>
      </button>
    </div>
  </div>

  <div class="search">
<!--    <label for="search">Search</label>-->
    <input placeholder="Search..." name="search" id="search" type="text" [(ngModel)]="search" (ngModelChange)="searchHandler($event)">
  </div>
</div>
