<div id="hacker-list">
  <div class="form-inline">
    <!-- The search class allows List.js to search through the list -->
    <div class="form-group">
      <input type="text" placeholder="Search" class="search form-control"/>
    </div>

    <!-- The sort class allows List.js to sort the list depending on the value of the data-sort attribute assigned to the element -->
    <div class="form-group">
      <span class="sort btn btn-default" data-sort="name">Sort by Name</span>
      <span class="sort btn btn-default" data-sort="city">Sort by City</span>
    </div>

    <!-- The filter buttons -->
    <div class="form-group">
      <span id="filter" class="btn btn-default">Show People in Edmonton (Filter)</span>
      <span id="removeFilters" class="btn btn-default">Remove Filters</span>
    </div>
  </div>
