<div *ngIf="(post$ | async) as post; else loading">

  <div class="container">
        <img [src]="post.imageUrl" class="image-content" [alt]="post.title + ' by ' + post.author">
        <div class="header">
          <h2>{{post.title}}</h2>
          <button routerLink="/" class="btn">To Main</button>
        </div>

        <div class="info">
          <img *ngIf="userInfo; else loading"
               [src]="!!userInfo?.avatarUrl ? userInfo.avatarUrl : defaultAvatar"
               class="avatar"
               alt="default avatar"
               [routerLink]="['./author-info']">

          <!--               [routerLink]="['/author', user[0]?.userId]">-->

          <div>
<!--            <strong [routerLink]="['/author', (user$ | async)[0]?.userId]">{{post.author}}</strong>-->
            <strong [routerLink]="['./author-info']">{{post.author}}</strong>
            <small>Created: {{post.createdAt | date:'MMMM d, y, h:mm'}}</small>
          </div>
        </div>

        <div class="tags" >
          <div class="tag" *ngFor="let tag of post.tags.split(' ')">
            {{tag | uppercase}}
          </div>
        </div>

        <div class="content">
                <quill-view-html [content]="post.text"></quill-view-html>
                <button class="btn" [ngStyle]="{'float': 'right'}" (click)="scrollToTop()">Go Above</button>

        </div>

        <div class="share">
            <app-share-with-social [title]="post.title"></app-share-with-social>
        </div>

  </div>
</div>

<ng-template #loading>
  <div class="spinner">
    <app-spinner></app-spinner>
    <p class="text-center">The Post is loading...</p>
  </div>
</ng-template>
