<div class="post">
  <div class="header">
    <h1>Post Title</h1>

    <button routerLink="/" class="btn btn-link">To Main</button>
  </div>

  <div class="info">
    <strong>Author</strong>
    <small>12/08/2023</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos ea eveniet harum magnam minus provident quas quasi! Accusamus, amet eaque eum in ipsam magni repellat repellendus unde. Architecto blanditiis cupiditate enim ipsam possimus quibusdam, tempora? Ab alias, assumenda at cum dignissimos facilis inventore ipsa magnam maiores modi odit praesentium, voluptatum?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos ea eveniet harum magnam minus provident quas quasi! Accusamus, amet eaque eum in ipsam magni repellat repellendus unde. Architecto blanditiis cupiditate enim ipsam possimus quibusdam, tempora? Ab alias, assumenda at cum dignissimos facilis inventore ipsa magnam maiores modi odit praesentium, voluptatum?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos ea eveniet harum magnam minus provident quas quasi! Accusamus, amet eaque eum in ipsam magni repellat repellendus unde. Architecto blanditiis cupiditate enim ipsam possimus quibusdam, tempora? Ab alias, assumenda at cum dignissimos facilis inventore ipsa magnam maiores modi odit praesentium, voluptatum?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos ea eveniet harum magnam minus provident quas quasi! Accusamus, amet eaque eum in ipsam magni repellat repellendus unde. Architecto blanditiis cupiditate enim ipsam possimus quibusdam, tempora? Ab alias, assumenda at cum dignissimos facilis inventore ipsa magnam maiores modi odit praesentium, voluptatum?</p>
  </div>
</div>
