<div class="container">
  <div class="left_box">
    <nav>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a [routerLink]="['/author', 'profile']">
          <fa-icon [icon]="userIcon"></fa-icon>
        </a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['password']">
          <fa-icon [icon]="passwordIcon"></fa-icon>
        </a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['social']">
          <fa-icon [icon]="mediasIcon"></fa-icon>
        </a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['privacy']">
          <fa-icon [icon]="privacyIcon"></fa-icon>
        </a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['other']">
          <fa-icon [icon]="otherOptionsIcon"></fa-icon>
        </a>
      </li>
    </nav>
  </div>
  <div class="right_box">
    <router-outlet></router-outlet>
  </div>
</div>
