<div class="share-wrapper">
  <div class="share">

        <a *ngFor="let item of socialMedia" [href]="item.url" class="icon" [ngClass]="item.name">
          <fa-icon [icon]="item.icon" class="share-icon"></fa-icon>
        </a>

<!--    <a href="#" class="icon facebook first-child"><fa-icon [icon]="facebookIcon" class="share-icon"></fa-icon></a>-->
<!--    <a href="#" class="icon twitter"><fa-icon [icon]="twitterIcon" class="share-icon"></fa-icon></a>-->
<!--    <a href="#" class="icon instagram"><fa-icon [icon]="instagramIcon" class="share-icon"></fa-icon></a>-->
<!--    <a href="#" class="icon telegram"><fa-icon [icon]="telegramIcon" class="share-icon"></fa-icon></a>-->
<!--    <a href="#" class="icon viber last-child"><fa-icon [icon]="viberIcon" class="share-icon"></fa-icon></a>-->


    <div class="label">SHARE</div>
  </div>
</div>

