.share-wrapper {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  font-family: 'Roboto', sans-serif;


  .share{

    .icon {
      display: inline-block;
      background: var(--bg-gradient-light);
      width: 60px;
      height: 60px;
      color: var(--dark-color);
      //margin-left: -3px;
      //margin-right: -3px;
      transition: all 0.5s;
      cursor: pointer;

      &:first-child {
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
      }

      & + .icon:last-of-type {
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
      }

      .share-icon {
        padding-top: 12px;
        opacity: 0;
        font-size: 1.5rem;
        transition: all 0.5s;
        color: var(--skeleton-loading-grey);
        display: block;
      }
    }

    .label {
      position: relative;
      top: -40px;
      color: var(--dark-color);
      font-weight: bold;
      pointer-events: none;
      transition: all 0.5s;
    }

    &:hover {
      .icon {
        border-radius: 50%;
        margin-left: 5px;
        margin-right: 5px;

        .share-icon {
          opacity: 1;
          display: block;

        }
      }

      .label {
        opacity: 0;
      }

      .facebook{
        background: #3b5998;
      }

      .twitter{
        background: #55acee;
      }

      .instagram{
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
      }

      .telegram{
        background: #229ED9;
      }

      .viber{
        background: #7360f2;
      }
    }

  }
}

@media (max-width: 576px){
  .share-wrapper {
    max-width: 100%;
    .share{

      .icon {
        height: 40px;
        width: 40px;

        .share-icon {
          padding-top: 8px;
          opacity: 0;
          font-size: 1rem;
        }
      }

      .label {
        font-weight: bold;
        padding-top: 6px;
      }
    }
  }


}
