.social {
  h2{
    color: var(--dark-color);
  }

  .form-control {
    width: 250px;
    height: 75px;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    color: var(--dark-color);

    label {

    }
    input{
      width: 150px;
      border: none;
      border-bottom: 1px solid var(--bg-gradient-dark);
      outline: none;
    }

    fa-icon {
      color: var(--bg-gradient-dark);
    }
    span{
      width: 4rem;
      display: inline;
    }

    .validation {
      font-size: 0.75rem;
      color: var(--primary-color);
      display: block;
    }

    &:last-child {
      color: red;
    }
  }

  .pos-right {
    margin-left: 10rem;
  }

}



@media (max-width: 768px){
  h2 {
    font-size: 1rem;
    text-align: center;
  }
  .form-control {
    font-size: 0.75rem;
  }

}
