<div class="social tabShow" id="content-2">
  <h2>Social Media Links</h2>

  <h3>Facebook</h3>
  <input type="url" class="input" value="https://facebook.com">
  <fa-icon [icon]="checkIcon" [ngStyle]="{'color': 'green'}"></fa-icon>
  <button class="btn">Add</button>

  <h3>Instagram</h3>
  <input type="url" class="input" value="https://Instagram.com">
  <fa-icon [icon]="checkIcon" [ngStyle]="{'color': 'green'}"></fa-icon>
  <button class="btn">Add</button>

  <h3>Twitter</h3>
  <input type="url" class="input" value="https://Twitter.com">
  <fa-icon [icon]="checkIcon" [ngStyle]="{'color': 'green'}"></fa-icon>
  <button class="btn">Add</button>
  <h3>Youtube Channel</h3>
  <input type="url" class="input" value="https://youtube.com">
  <fa-icon [icon]="checkIcon" [ngStyle]="{'color': 'green'}"></fa-icon>
  <button class="btn">Add</button>

  <button class="btn">Add another link to your social media account</button>
</div>
