<div>
  <a class="card" [routerLink]="['/post', post.id]" style="--bg-img: url('{{post.imageUrl}}')">
    <div>
      <h1>{{post.title}}</h1>
      <p>by <a href="#">{{post.author}}</a></p>
      <div class="date">{{post.createdAt | date: 'shortDate'}}</div>
      <div class="tags">
<!--        <div class="tag">{{post.tags | uppercase}}</div>-->
        <div class="tag" *ngFor="let tag of post.tags.split(' ')">
          {{tag | uppercase}}
        </div>
      </div>
    </div>
  </a>
</div>



