<app-loading-bar *ngIf="isSubmitted"></app-loading-bar>

<div class="password">
  <h2>Change Password</h2>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-control">
      <label for="old_pass">Old Password</label>
      <div class="input-block">
        <div class="input-element">
          <input [type]="passwordShowMode.oldPass ? 'text' : 'password'" id="old_pass" formControlName="oldPassword">
          <fa-icon [icon]="showIcon" *ngIf="!passwordShowMode.oldPass" (click)="togglePasswordShowMode('oldPass')"></fa-icon>
          <fa-icon [icon]="hideIcon" *ngIf="passwordShowMode.oldPass" (click)="togglePasswordShowMode('oldPass')"></fa-icon>
        </div>
        <fa-icon class="input-icon" [icon]="clipboardIcon" [copy]="form.get('oldPassword').value"></fa-icon>
      </div>

      <div
        class="validation"
        *ngIf="form.get('oldPassword').touched && form.get('oldPassword').invalid"
      >
        <small *ngIf="form.get('oldPassword').errors.required">Old password is required!</small>
      </div>
    </div>

    <div class="form-control">
      <label for="new_pass">New Password</label>
      <div class="input-block">
        <div class="input-element">
          <input [type]="passwordShowMode.newPass ? 'text' : 'password'" id="new_pass" formControlName="newPassword">
          <fa-icon [icon]="showIcon" *ngIf="!passwordShowMode.newPass" (click)="togglePasswordShowMode('newPass')"></fa-icon>
          <fa-icon [icon]="hideIcon" *ngIf="passwordShowMode.newPass" (click)="togglePasswordShowMode('newPass')"></fa-icon>
        </div>
        <fa-icon class="input-icon" [icon]="clipboardIcon" [copy]="form.get('newPassword').value"></fa-icon>
      </div>

      <app-password-strength [password]="password$"></app-password-strength>

      <div
        class="validation"
        *ngIf="form.get('newPassword').touched && form.get('newPassword').invalid"
      >
        <small *ngIf="form.get('newPassword').errors.required">Fill in new password!</small>
      </div>
    </div>


    <div class="form-control">
      <label for="confirm_pass">Confirm New Password</label>
      <div class="input-block">
        <div class="input-element">
          <input [type]="passwordShowMode.newPass ? 'text' : 'password'" id="confirm_pass" formControlName="newConfirmPassword">
        </div>
      </div>


      <div
        class="validation"
        *ngIf="form.get('newConfirmPassword').touched && form.get('newConfirmPassword').invalid"
      >
        <small *ngIf="form.get('newConfirmPassword').errors.required">Confirm your new password!</small>
        <small *ngIf="form.get('newConfirmPassword').errors.pattern">Passwords are different!</small>
      </div>
    </div>
    <button class="btn pos-right" [disabled]="isSubmitted">Update</button>
  </form>

  <div class="form-control">
      <button class="generate-password" mat-raised-button (click)="openDialog()">Generate password</button>

  </div>

</div>
