<div class="password tabShow" id="content-1">
  <h2>Change Password</h2>
  <h3>Old Password</h3>
  <input type="password" class="input" value="Heisen313berg">
  <!--      <fa-icon [icon]="openedEyeIcon"></fa-icon>-->
  <!--      <fa-icon [icon]="closedEyeIcon"></fa-icon>-->

  <h3>New Password</h3>
  <input type="password" class="input" value="Heisen313berg" >
  <h3>Confirm New Password</h3>
  <input type="password" class="input" value="Heisen313berg">
  <button class="btn">Update</button>
</div>
