<div class="container">
    <input type="text" class="password" value="{{newPassword}}" readonly>
    <fa-icon [icon]="clipboardIcon" [copy]="newPassword"></fa-icon>

    <div class="range_box">
      <div>
        <small>6</small>
        <input type="range" class="range" min="6" max="30" step="1" (change)="changePasswordLength($event)" value="{{passwordLength}}">
        <small>30</small>
      </div>
      <span>Length: {{passwordLength}}</span>
    </div>


    <div class="box" *ngFor="let checkbox of checkboxes">
      <label class="toggle">
        <span>{{checkbox.label}}</span>
        <input type="checkbox" id="{{checkbox.id}}" (change)="changeCheckboxValue($event)" [checked]="checkbox.checked">
      </label>
    </div>

    <button type="button" class="btn pos-right" (click)="generatePassword()">
      Generate
    </button>
</div>
