@mixin slider-thumb {
  border: 1px solid #000000;
  height: 1.5rem;
  width: 0.75rem;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
}

.container{
  margin: 1rem auto;
  padding: 0;
  width: 400px;
  background: #fff;
  overflow: hidden;


  .password {
    width: 90%;
    outline: none;
    font-size: 0.75rem;
    padding: 0.25rem;
  }

  fa-icon {
    color: var(--bg-gradient-dark);
    position: absolute;
    transform: translate(-1.2rem, 0.2rem);
  }

  .range_box {
    width: 90%;
    display: flex;
    flex-direction: column;

    small {
      font-size: 0.75rem;
      margin: 0.2rem;
    }

    span {
      font-size: 0.75rem;
      text-align: center;
      font-weight: 500;
    }

    .range {
      -webkit-appearance: none;
      width: 80%;
      background: linear-gradient(90deg, var(--bg-gradient-light), var(--bg-gradient-dark));
      height: 6px;
      border-radius: 6px;
      margin: 0;

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        @include slider-thumb;
      }

      &::-moz-range-thumb,
      &::-ms-thumb {
        @include slider-thumb;
      }
    }
  }

  .box{
    width: 90%;
    border: 1px black dashed;
    padding: 0.25rem;
    border-radius: 6px;
    margin: 0.5rem 0;

    .toggle{
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 1rem;

      input[type=checkbox]{
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        cursor: pointer;
        width: 2.5rem;
        height: 1.25rem;
        position: relative;
        background: var(--skeleton-loading-grey);
        border-radius: 50px;

        &:checked {
          background: var(--light-color);
        }

        &:before{
          content: '';
          width: 1rem;
          height: 1rem;
          position:absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          background: #666666;
          border-radius: 50%;
          transition: all ease 0.35s;
        }

        &:checked:before{
          left:50%;
          background:var(--bg-gradient-dark);
        }
      }
    }
  }

  .pos-right {
    float: right;
  }
}

@media (max-width: 480px){
  .toggle{
    font-size: 0.75rem;
  }
}
