<div class="container">
  <div class="left_box">
    <nav>
      <li>
        <input id="tab-1" type="radio" class="tab" checked="checked" name="tab">
        <label for="tab-1" class="tab">
          <fa-icon [icon]="userIcon"></fa-icon>
        </label>
      </li>
      <li>
        <input id="tab-2" type="radio" class="tab" name="tab">
        <label for="tab-2" class="tab">
          <fa-icon [icon]="passwordIcon"></fa-icon>
        </label>
      </li>
      <li>
        <input id="tab-3" type="radio" class="tab" name="tab">
        <label for="tab-3" class="tab">
          <fa-icon [icon]="mediasIcon"></fa-icon>
        </label>
      </li>
      <li>
        <input id="tab-4" type="radio" class="tab" name="tab">
        <label for="tab-4" class="tab">
          <fa-icon [icon]="settingIcon"></fa-icon>
        </label>
      </li>
      <li>
        <input id="tab-5" type="radio" class="tab" name="tab">
        <label for="tab-5" class="tab">
          <fa-icon [icon]="otherOptionsIcon"></fa-icon>
        </label>
      </li>
    </nav>
  </div>
  <div class="right_box">












</div>
