<app-loading-bar *ngIf="isSubmitted"></app-loading-bar>

<div class="profile">
  <h2>Personal Information</h2>

  <div class="card">
    <div class="avatar-add">
      <div class="avatar">
        <img class="uploadedimage" [src]="avatar" alt="avatar">
        <img src="https://i.imgur.com/0aDdQyR.png" alt="frame" class="avatar-frame">
      </div>

      <button (click)="openWidget()" class="btn">
        Upload files
      </button>
    </div>
    <form class="info" [formGroup]="form" (ngSubmit)="submit()">
      <div class="name">
        <div>
          <input type="text" class="input" id="name" placeholder="What's your name?" formControlName="name" (input)="editMode('name')" disabled>
          <fa-icon [icon]="checkIcon" [ngStyle]="{'color': 'green', 'margin-left': '1.2rem'}" *ngIf="isValueAddedInForm.name || isUserInfoInDB.name"></fa-icon>
        </div>
          <span class="btn" (click)="passData('name')" *ngIf="!isValueAddedInForm.name && !isUserInfoInDB.name" [ngClass]="{disabled: !!form.get('name').errors}">Add</span>
      </div>

      <div
        class="validation"
        *ngIf="form.get('name').touched && form.get('name').invalid"
      >
        <small *ngIf="form.get('name').errors.required">To create posts you should specify your full name!</small>
        <small *ngIf="form.get('name').errors.minlength">Your full name is to short!</small>
        <small *ngIf="form.get('name').errors.pattern">Your name should only contain letters!</small>
      </div>

      <div class="birthday">
        <div>
          <input type="date" class="input" id="birthday" min="01.01.1900" formControlName="birthday" (change)="editMode('birthday')">
          <fa-icon [icon]="checkIcon" [ngStyle]="{'color': 'green', 'margin-left': '1.2rem'}" *ngIf="isValueAddedInForm.birthday"></fa-icon>
        </div>
        <span class="btn" (click)="passData('birthday')" *ngIf="!isValueAddedInForm.birthday" [ngClass]="{disabled: !!form.get('birthday').errors}">
          {{isUserInfoInDB.birthday ? 'Change' : 'Add'}}
        </span>
      </div>

      <div
        class="validation"
        *ngIf="form.get('birthday').touched && form.get('birthday').invalid"
      >
        <small *ngIf="form.get('birthday').errors.invalidDate">Is this your real birthday?</small>
      </div>

      <select name="gender" id="gender" formControlName="gender">
        <option value="" [selected]="true" disabled>What's your gender?</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>

      <button class="btn pos-right" [disabled]="isSubmitted">Update</button>
    </form>
  </div>

  <div class="card">
    <div class="info">
      <div class="email">
        <div>
          <label for="email">Confirm Your Email</label>
          <input type="text" class="input" id="email" [value]="userEmailState.email" disabled>
          <fa-icon [icon]="checkIcon" [ngStyle]="{'color': 'green', 'margin-left': '1.2rem'}" *ngIf="userEmailState.emailVerified"></fa-icon>
        </div>
        <span class="btn" *ngIf="!userEmailState.emailVerified" (click)="confirmEmail()" [ngClass]="{disabled: isEmailSubmitted}">Confirm</span>
      </div>
      <small *ngIf="isEmailSubmitted">Visit your Email and follow the link</small>
    </div>
  </div>

</div>
