form {
  max-width: 600px;
  margin: 0 auto;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 4rem);
  max-width: 100%;
  color: #333;
  overflow: hidden;
  background: linear-gradient(90deg, var(--bg-gradient-light), var(--bg-gradient-dark));
}

.screen {
  background: linear-gradient(90deg, #5D54A4, #7C78B8);
  position: relative;
  height: 600px;
  width: 360px;
  box-shadow: 0 0 24px #5C5696;
}
.screen_content {
  z-index: 1;
  position: relative;
  height: 100%;
}
.screen_background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
}
.screen_background_shape {
  transform: rotate(45deg);
  position: absolute;
}
.screen_background_shape1 {
  height: 520px;
  width: 520px;
  background: #FFF;
  top: -50px;
  right: 120px;
  border-radius: 0 72px 0 0;
}
.screen_background_shape2 {
  height: 220px;
  width: 220px;
  background: #6C63AC;
  top: -172px;
  right: 0;
  border-radius: 32px;
}
.screen_background_shape3 {
  height: 540px;
  width: 190px;
  background: linear-gradient(270deg, #5D54A4, #6A679E);
  top: -24px;
  right: 0;
  border-radius: 32px;
}
.screen_background_shape4 {
  height: 400px;
  width: 200px;
  background: #7E7BB9;
  top: 420px;
  right: 50px;
  border-radius: 60px;
}

.login {
  width: 320px;
  padding: 104px 30px 20px;
}
.login.signup {
  padding-top: 76px !important;
}
.login_field {
  padding: 20px 0 calc(20px + 1.6rem);
  position: relative;
}
.login_field.h150 {
  height: 150px;
}
.login_field.invalid {
  padding: 20px 0;
  color: var(--danger-color);
}
.login_field.invalid input {
  border-color: var(--danger-color);
}
.login_field.link {
  text-decoration: underline;
  cursor: pointer;
}
.login_field.link:hover {
  color: #6A679E;
}
.login_icon {
  position: absolute;
  top: 30px;
  color: #7875B5;
}
.login_input {
  border: none;
  border-bottom: 2px solid var(--light-color);
  background: none;
  padding: 10px 10px 10px 24px;
  font-weight: 500;
  width: 75%;
  transition: 0.2s;
}
.login_input:active, .login_input:focus, .login_input:hover {
  outline: none;
  border-bottom-color: #6A679E;
}
.login_submit {
  background: #fff;
  font-size: 14px;
  margin-top: 20px;
  padding: 8px 20px;
  border-radius: 26px;
  border: 1px solid #D4D3E8;
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  align-items: center;
  width: 100%;
  color: #4C489D;
  box-shadow: 0 2px 2px #5C5696;
  cursor: pointer;
  transition: 0.2s;
}
.login_submit:active, .login_submit:focus, .login_submit:hover {
  border-color: #6A679E;
  outline: none;
}
.login_submit:disabled {
  cursor: not-allowed;
}

.button_icon {
  font-size: 24px;
  margin-left: auto;
  color: #7875B5;
}

.social-login {
  position: absolute;
  height: 140px;
  width: 160px;
  text-align: center;
  bottom: 0;
  right: 0;
  color: #fff;
}
.social-login_icon {
  padding: 10px 5px;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 0 8px #7875B5;
}
.social-login_icon:hover {
  transform: scale(1.5);
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-danger {
  color: var(--danger-color);
}

/*# sourceMappingURL=auth-page.component.css.map */
