footer {
  background-color: var(--bg-gradient-light);
  position: fixed;
  left: 0;
  bottom: 0;
  height: 4rem;
  width: 100%;
  font-size: 1rem;
  margin-top: 2rem;

  div {
    padding: 1rem;

    a {
      color: var(--dark-color);
      cursor: pointer;
      font-size: 0.7rem;
      position: relative;

    }
  }

}
