<div *ngIf="!isLoading; else loading" class="page">
<!--  <div class="form-control">-->
<!--    <input type="text" placeholder="Find post..." [(ngModel)]="searchStr">-->
<!--  </div>-->
  <div *ngIf="posts.length; else noPosts">

    <table
      mat-table [dataSource]="dataSource"
      matSort
      (matSortChange)="announceSortChange($event)"
      class="mat-elevation-z8">

      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
          No.
        </th>
        <td mat-cell *matCellDef="let element; let i = index" [routerLink]="['/post', element.id]">{{i + 1}}</td>
      </ng-container>

      <!-- Author Column -->
      <ng-container matColumnDef="author">
        <th mat-header-cell *matHeaderCellDef>
          Author
        </th>
        <td mat-cell *matCellDef="let element" [routerLink]="['/post', element.id]">{{element.author}}</td>
      </ng-container>

      <!-- Title Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by title">
          Title
        </th>
        <td mat-cell *matCellDef="let element" [routerLink]="['/post', element.id]">{{element.title}}</td>
      </ng-container>

      <!-- CreatedAt Column -->
      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by createdAt">
          When created
        </th>
        <td mat-cell *matCellDef="let element" [routerLink]="['/post', element.id]">{{element.createdAt | date:'MMM d, y, h:mm:ss'}}</td>
      </ng-container>

      <!-- UpdatedAt Column -->
      <ng-container matColumnDef="updatedAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by updatedAt">
          Last updated
        </th>
        <td mat-cell *matCellDef="let element" [routerLink]="['/post', element.id]">{{element.updatedAt | date:'MMM d, y, h:mm:ss'}}</td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>
          Actions
        </th>
        <td mat-cell *matCellDef="let element; let i = index">
          <button
            [routerLink]="['/author', 'post', element.id, 'edit']"
            class="btn edit-btn"
          >Edit</button>
          <button class="btn delete-btn" (click)="onDeleteBtn(element.id)" *ngIf="!isAboutToDelete[i].deleting">Delete</button>
          <div class="icons" *ngIf="isAboutToDelete[i].deleting">
            <fa-icon [icon]="checkIcon" class="checkIcon" (click)="remove(element.id)"></fa-icon>
            <fa-icon [icon]="cancelIcon" class="cancelIcon" (click)="isAboutToDelete[i].deleting = false"></fa-icon>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displaysColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displaysColumns;">
      </tr>
    </table>
  </div>
</div>

<ng-template #loading>
  <div class="spinner_100vh">
    <app-spinner></app-spinner>
    <p class="text-center">Posts are loading...</p>
  </div>
</ng-template>

<ng-template #noPosts>
  <p class="text-center">No posts yet ...</p>
</ng-template>
