<div *ngIf="posts.length; else loading" class="page">
<!--  <div class="form-control">-->
<!--    <input type="text" placeholder="Find post..." [(ngModel)]="searchStr">-->
<!--  </div>-->
  <table>
    <thead>
    <tr>
      <th>#</th>
<!--      <th>Author</th>-->
      <th>Title</th>
      <th>Date</th>
      <th>Action</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let post  of posts; let i = index">
      <td>{{i + 1}}</td>
<!--      <td>{{post.author}}</td>-->
      <td>{{post.title}}</td>
      <td>{{post.date | date:'shortDate'}}</td>
      <td>
        <button
          [routerLink]="['/author', 'post', post.id, 'edit']"
          class="btn edit-btn"
        >Edit</button>
        <a class="btn delete-btn" (click)="onDeleteBtn()" *ngIf="!isAboutToDelete">Delete</a>
        <div class="icons" *ngIf="isAboutToDelete">
          <fa-icon [icon]="checkIcon" class="checkIcon" (click)="remove(post.id)"></fa-icon>
          <fa-icon [icon]="cancelIcon" class="cancelIcon" (click)="isAboutToDelete = false"></fa-icon>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<ng-template #loading>
  <p class="text-center">Loading ...</p>
</ng-template>
