<!--<div class="card loading">-->
<!--      <h1>asdasdasd</h1>-->
<!--      <div class="title">ssssssss</div>-->
<!--      <div class="date">ddddddddddd</div>-->
<!--      <div class="tags">-->
<!--        <div class="tag">aaaaaaaaaaa</div>-->
<!--      </div>-->
<!--</div>-->

    <div class="skeleton">
        <div class="title">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>

      <div class="line author"></div>
        <div class="line date"></div>
        <div class="line tag">
        </div>
    </div>

