
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$angular-blog-primary: mat.define-palette(mat.$indigo-palette);
$angular-blog-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$angular-blog-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$angular-blog-theme: mat.define-light-theme((
  color: (
    primary: $angular-blog-primary,
    accent: $angular-blog-accent,
    warn: $angular-blog-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($angular-blog-theme);

@import url('https://fonts.googleapis.com/css?family=Roboto');
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.snow.css';

:root {
  --primary-color: #dc3545;
  --dark-color: #333;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
  --warning-color: #ff9966 ;
  --bg-gradient-light: #c7c5f4;
  --bg-gradient-dark: #776bcc;
  --box-shadow-color: #4c1c57;
  --card-hover-font-color: #3c3163;
  --skeleton-loading-grey: #ededed;
  --card-img-height: 100px;
  --transition-time: 0.5s;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
}

.container {
  max-width: 1100px;
  overflow-y: hidden;
  margin: -5vw auto 10vw;
  min-height: 80vh;

}

.underlined_animated {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--dark-color);
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }

  &:hover:before {
    transform-origin: left;
    transform: scaleX(1);
  }
}

.btn {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  display: block;
  border: 0;
  color: var(--skeleton-loading-grey);
  background: var(--bg-gradient-dark);
  padding: 0.5rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  margin-top: 1rem;
  transition: transform 0.3s, box-shadow 0.3s;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
}

.spinner_100vh{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20vw;
  height: 100vh;
}

@media (max-width: 1200px){
  .container{
    max-width: 90%;
  }
}

@media (max-width: 768px){
  .container{
    max-width: 90%;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
