<app-search-and-sort
  (sortingState)="handleSorting($event)"
  (searchString)="handleSearch($event)"
  [disabled]="!!searchString"
></app-search-and-sort>

<!--<div-->
<!--  *ngIf="posts; else skeleton"-->
<!--  class="posts-container"-->
<!--&gt;-->
  <div
  class="posts-container"
>
  <ng-container [ngTemplateOutlet]="!!searchString ? filteredPostsTemplate : !!posts ? postsTemplate : skeleton"></ng-container>
<!--  <app-post-->
<!--    *ngFor="let post of Aposts"-->
<!--    [post]="post"-->
<!--  ></app-post>-->

<!--<div-->
<!--  *ngIf="posts; else skeleton"-->
<!--  class="posts-container"-->
<!--&gt;-->
<!--  <table>-->
<!--    <thead >-->
<!--      <tr>-->
<!--        <th>#</th>-->
<!--        <th>id</th>-->
<!--        <th>title</th>-->
<!--        <th>author</th>-->
<!--        <th>createdAt</th>-->
<!--        <th>updatedAt</th>-->
<!--      </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr *ngFor="let post of posts; index as i; trackBy: identifyPost" >-->
<!--      <td>{{i+1}}</td>-->
<!--      <td>{{post.id}}</td>-->
<!--      <td>{{post.title}}</td>-->
<!--      <td>{{post.author}}</td>-->
<!--      <td>{{post.createdAt | date:'short'}}</td>-->
<!--      <td>{{post.updatedAt | date: 'short'}}</td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--  </table>-->

</div>
<app-paginator
  [totalAmount]="!!searchString ? (filteredPosts$ | async)?.metadata?.totalAmount : totalAmount"
  [pageSizeOptions]="pageSizeOptions"
  [perPage]="sortingParams.perPage"
  (onPageChange)="handlePage($event)">
</app-paginator>

<ng-template #postsTemplate>
    <app-post
      *ngFor="let post of posts"
      [post]="post"
    ></app-post>
</ng-template>

<ng-template #filteredPostsTemplate>
    <app-post
      *ngFor="let filteredPost of (filteredPosts$ | async)?.data"
      [post]="filteredPost"
    ></app-post>
</ng-template>

<ng-template #skeleton>
  <div class="posts-container">
    <app-post-skeleton *ngFor="let _ of [].constructor(amountOfSkeletons)"></app-post-skeleton>
  </div>
</ng-template>

